.TableOfContentsItem {
  &__name {
    word-break: break-all;
    line-height: 1.5;
  }

  &__icon {
    color: #9daab6;
  }

  &__inner {
    padding: 6px 16px 6px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  &--active {
    &--child {
      border-left: none;
    }
  }

  &--child {
    .TableOfContentsItem__inner {
      padding-left: 15px;
    }
  }

  &--divider {
    &:first-child {
      margin-top: -5px;
    }

    &:not(:first-child) {
      margin-top: 12px;
    }

    .TableOfContentsItem__name {
      line-height: 1.2;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
