.APIComponent,
.StoplightProject {
  .MarkdownViewer,
  .HttpOperation,
  .Model,
  .PageSkeleton {
    flex-basis: 600px;
    max-width: 900px;
    flex-grow: 2;
  }

  .ArticleHeadings {
    flex-basis: 300px;
    max-width: 600px;
    flex-grow: 1;
  }

  .TableOfContents {
    width: 300px;
    min-width: 220px;
  }

  .docs-column, .tryit-column {
    padding: 20px;
    overflow-x: hidden;
    overflow-wrap: anywhere;
  }

  .docs-column {
    flex-grow: 3;
    flex-basis: 600px;
  }

  .tryit-column {
    flex-grow: 2;
    flex-basis: 400px;
  }
}

.PreviewTabs {
  > .bp3-tab-list {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @extend .border-editor;
    @extend .px-5;

    > .bp3-tab {
      @extend .px-2;
      @extend .py-2;
      &:focus {
        outline: none;
      }
    }
  }

  > .bp3-tab-panel {
    margin-top: 0;
  }
}
