.APIComponent,
.StoplightProject {
  .MarkdownViewer,
  .HttpOperation,
  .Model,
  .PageSkeleton {
    flex-basis: 600px;
    max-width: 900px;
    flex-grow: 2;
  }

  .ArticleHeadings {
    flex-basis: 300px;
    max-width: 600px;
    flex-grow: 1;
  }

  .TableOfContents {
    width: 300px;
  }
}

.PreviewTabs {
  > .bp3-tab-list {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @extend .border-editor;
    @extend .px-8;

    > .bp3-tab {
      @extend .px-1;
      @extend .py-3;
      &:focus {
        outline: none;
      }
    }
  }

  > .bp3-tab-panel {
    margin-top: 0;
  }
}
