@import '~@stoplight/ui-kit/styles/blueprint/variables';

.HttpSecuritySchemes,
.HttpOperation__Parameters {
  .TreeList {
    .#{$ns}-dark & {
      background-color: get-color(darkgray, 4);
    }
  }

  .MarkdownViewer p {
    font-size: 13px;
    line-height: 1.5;
  }
  .bp3-running-text {
    word-break: break-word;
  }
}
