@import 'Dependencies.scss';
@import 'HttpOperation.scss';
@import 'Page.scss';
@import 'Search.scss';
@import 'RequestMaker.scss';
@import 'API.scss';

.selected {
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #7fb3f9;
  position: relative; // needed so box-shadow appears on top of surrounding elements.
  // background-color: #7fb3f9;
}

.bp3-dark .selected {
  box-shadow: 0 0 2px 5px #2998e7;
  // background-color: #2998e7;
}
