@import 'Dependencies.scss';
@import 'HttpOperation.scss';
@import 'Page.scss';
@import 'Search.scss';
@import 'RequestMaker.scss';
@import 'API.scss';

[data-selected] {
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #7fb3f9;
}

.bp3-dark [data-selected] {
  box-shadow: 0 0 2px 5px #2998e7;
}
