@import '~@stoplight/ui-kit/styles/blueprint/variables';
@import '~@stoplight/ui-kit/styles/components/Code/_theme-light';
@import '~@stoplight/ui-kit/styles/components/Code/_theme-dark';

$PageContent: 1000px;
$PageHeadings: 200px;

.Page {
  &__docs {
    max-width: calc(#{$PageContent} + #{$PageHeadings});
  }

  &__header {
    max-width: $PageContent;

    .HttpOperation__Path {
      height: 30px;
    }
  }

  &__headings {
    width: $PageHeadings;
  }

  &__content {
    max-width: $PageContent;
  }

  .#{$ns}-dark & {
    &__tab.selected-tab {
      background-color: transparent;
      border-bottom-color: get-color(gray, 7);
    }

    &__tab-panel {
      background-color: transparent;
    }
  }
}

.Page__docs {
  .#{$ns}-simple-tab-panel {
    .CodeEditor:only-child {
      // Don't add margin when inside a tab panel
      margin: 0;
    }
  }
}