@import '~@stoplight/ui-kit/styles/blueprint/variables';

.RequestMaker__RequestEditor,
.RequestMaker__ResponseViewer {
  .#{$ns}-tab-panel {
    margin-top: 0;
    overflow: auto;
  }

  .#{$ns}-tab-list {
    z-index: 10;
    bottom: -1px;
    padding: 0 0.5rem 1px;
    align-items: center;
    overflow-x: auto;
  }

  .#{$ns}-tab {
    margin: 0 5px;
  }
}

.RequestMaker__RequestEndpoint {
  .RequestMaker__RequestHost input,
  .RequestMaker__RequestPath input,
  .RequestMaker__RequestMethod > select {
    border-radius: 0;
    box-shadow: none;
  }

  .RequestMaker__RequestMethod > select {
    border-top-left-radius: 3px;
  }

  .RequestMaker__RequestSend button {
    border-radius: 0;
    border-top-right-radius: 3px;
  }
}

.RequestMaker__RequestParameters,
.RequestMaker__RequestHeaders {
  .#{$ns}-input {
    border-radius: 0;
    box-shadow: none;
  }
}

.RequestMaker__SuggestionBar,
.RequestMaker__ViolationsDisplay {
  background-color: #fefcbf;
}

.RequestMaker__ViolationsDisplay .#{$ns}-tree-node-content {
  height: auto;
  min-height: 30px;

  .#{$ns}-tree-node-label {
    min-height: 19px;
    display: unset;
    white-space: normal;

    span {
      display: inline-block;

      &.inline {
        display: inline;
      }
    }
  }
}

.#{$ns}-dark {
  .RequestMaker,
  .RequestMaker__RequestBody,
  .RequestMaker__RequestEndpoint,
  .RequestMaker__RequestEditor,
  .RequestMaker__RequestHeaders,
  .RequestMaker__RequestParameters,
  .RequestMaker__ResponseBody,
  .RequestMaker__ResponseHeaders,
  .RequestMaker__ResponseViewer {
    border-color: rgba(16, 22, 26, 0.4);

    * {
      border-color: rgba(16, 22, 26, 0.4);
    }
  }

  .RequestMaker__RequestViewer,
  .RequestMaker__RequestBody--content,
  .RequestMaker__ResponseBody--content,
  .RequestMaker__ResponseHeaders {
    background-color: rgba(16, 22, 26, 0.3);

    &.RequestMaker__RequestBody--form-data,
    &.RequestMaker__RequestBody--x-www-form-urlencoded {
      background-color: transparent;
    }
  }

  .RequestMaker__SuggestionBar,
  .RequestMaker__ViolationsDisplay {
    background-color: #2c7a7b;
  }
}
