@import '~@stoplight/ui-kit/styles/blueprint/variables';

.TryIt__MockMenu {
  .#{$ns}-text-overflow-ellipsis:first-child {
    padding-left: 23px;
    min-width: 200px;
  }
}

.ParameterGrid {
  display: grid;
  grid-template-columns: fit-content(120px) 20px auto;
  align-items: center;
}

.OperationParametersContent {
  max-height: 32*4.5+18px; // 4.5 lines plus padding
}

.TextRequestBody{
  max-height: 200px;
  overflow-y: auto;
}

.FormDataBody, .TextRequestBody{
  padding-bottom: 0;
}