@import '~@stoplight/ui-kit/styles/common/utils';
@import '~@stoplight/ui-kit/styles/common/theme';
@import '~@stoplight/ui-kit/styles/blueprint/variables';
@import '~@stoplight/ui-kit/styles/ui-kit';
@import '~@stoplight/tree-list/styles/tree-list';
@import '~@stoplight/markdown-viewer/styles/markdown-viewer';

@import './main';

html {
  font-size: 13px;
}

.svg-inline--fa {
  display: inline-block;
}