@import "../../elements-core/src/styles.css";

.sl-elements-article {
  justify-content: space-evenly;
}
  
.sl-elements-article-content {
  max-width: 700px;
}

.ArticleHeadings {
  max-width: 300px;
}