.monaco-editor {
  color: var(--editor-fg);

  .margin,
  .monaco-editor-background,
  .inputarea.ime-input {
    background-color: var(--editor-bg);
  }

  .inputarea.ime-input {
    color: var(--editor-fg);
  }
}
