/*
 * UTILS
 * contains theme and helper functions
 */
@import './common/utils';

/*
 * THEME
 * contains theme and helper functions
 */
@import './common/theme';

/*
 * BLUEPRINT
 * containe blueprint styles and icons
 */
@import './blueprint/base';
@import './blueprint/icons';

/*
 * COMPONENTS
 * contains styles for our home grown components
 */
@import './components/base';

/*
 * TAILWIND
 * contains tailwind generated classes
 */
@import './tailwind/base';

// some extra custom styling we want to apply
body,
html,
.root {
  height: 100%;
  font-size: get-font-size(base);
  background-color: 0.1s cubic-bezier(0.4, 1, 0.75, 0.9);
}

#{ns} a {
  color: get-color(info, 6);
}

.#{$ns}-label {
  font-weight: get-font-weight(semibold);
}

.#{$ns}-select-popover .#{$ns}-menu {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}

.#{$ns}-select-popover .#{$ns}-menu .#{$ns}-menu-item-label {
  font-size: 10px;
}

// tailwind sets fontsize on headers to base so reset to chrome defaults
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 0.83rem;
  font-weight: bold;
}

h6 {
  font-size: 0.67;
  font-weight: bold;
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
