version: 2.1

executors:
  cypress-default:
    docker:
      - image: cypress/base:12
        environment:
          ## this enables colors in the output
          TERM: xterm
    working_directory: ~/project/example

commands:
  run-e2e-from-repo:
    parameters:
      repo-url:
        type: string
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Checkout Angular example
          working_directory: ~/project
          command: git clone "<<parameters.repo-url>>" example
      - run:
          name: Install dependencies
          command: yarn --frozen-lockfile
      - run:
          name: Make sure example depends on elements or elements-web-components
          command: |
            [ -d "node_modules/@stoplight/elements-web-components" ] || [ -d "node_modules/@stoplight/elements-web-components" ]
      - run:
          name: Copy current elements build
          command: |
            if [ -d "node_modules/@stoplight/elements-web-components" ]; then cp -r /tmp/workspace/packages/elements-web-components/dist/* node_modules/@stoplight/elements-web-components/dist; fi
            if [ -d "node_modules/@stoplight/elements" ]; then cp -r /tmp/workspace/packages/elements/dist/* node_modules/@stoplight/elements; fi
            if [ -d "node_modules/@stoplight/elements-utils" ]; then cp -r /tmp/workspace/packages/elements-utils/dist/* node_modules/@stoplight/elements-utils; fi
      - run:
          name: Create production build
          command: yarn build
      - run:
          name: Run E2E checks
          command: yarn e2e:run
      - store_test_results:
          name: Upload test results
          path: cypress/results
      - store_artifacts:
          name: Upload Cypress Videos
          path: cypress/results/videos
          destination: videos
      - store_artifacts:
          name: Upload Cypress Screenshots
          path: cypress/results/screenshots
          destination: screenshots

jobs:
  lint-and-check:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn type-check
      - run: yarn lint
      - run: yarn test.prod
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - packages/elements/dist/**
            - packages/elements-web-components/dist/**
            - packages/elements-utils/dist/**
  build-docs:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build.docs
  test-integration-angular:
    executor: cypress-default
    steps:
      - run-e2e-from-repo:
          repo-url: https://github.com/stoplightio/elements-starter-angular.git
  test-integration-gatsby:
    executor: cypress-default
    steps:
      - run-e2e-from-repo:
          repo-url: https://github.com/stoplightio/elements-starter-gatsby.git
workflows:
  test-and-release:
    jobs:
      - lint-and-check
      - build
      - build-docs
      - test-integration-angular:
          requires:
            - build
      - test-integration-gatsby:
          requires:
            - build
