version: 2.1

executors:
  cypress-default:
    docker:
      - image: cypress/base:12
        environment:
          ## this enables colors in the output
          TERM: xterm

jobs:
  lint-and-check:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn type-check
      - run: yarn lint
      - run: yarn test.prod
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - packages/elements/dist/**
            - packages/elements-web-components/dist/**

  test-integration-angular:
    executor: cypress-default
    steps:
      - attach_workspace:
            at: /tmp/workspace
      - run:
          name: Checkout Angular example
          command: git clone https://github.com/stoplightio/elements-starter-angular.git examples/angular
      - run:
          name: Install dependencies
          working_directory: examples/angular
          command: yarn --frozen-lockfile
      - run:
          name: Copy current elements build
          command: cp -r /tmp/workspace/packages/elements-web-components/dist/* examples/angular/node_modules/@stoplight/elements-web-components/dist
      - run:
          name: Create production build
          working_directory: examples/angular
          command: yarn build
      - run:
          name: Run E2E checks
          working_directory: examples/angular
          command: yarn e2e:run
      - store_test_results:
          name: Upload test results
          path: examples/angular/cypress/results
      - store_artifacts:
          name: Upload Cypress Videos
          path: examples/angular/cypress/results/videos
          destination: videos
      - store_artifacts:
          name: Upload Cypress Screenshots
          path: examples/angular/cypress/results/screenshots
          destination: screenshots
  
  update-storybook:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run:
          name: deploy storybook
          command: yarn elements run chromatic --project-token=$CHROMATIC_PROJECT_TOKEN --exit-once-uploaded

  release:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run:
          name: set npmrc
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ./.npmrc
      - run:
          name: release
          command: yarn release
workflows:
  test-and-release:
    jobs:
      - lint-and-check
      - build
      - test-integration-angular:
          requires:
            - build
      - update-storybook:
          filters:
            branches:
              only:
                - master
          requires:
            - build
      - release:
          filters:
            branches:
              only:
                - master
          requires:
            - lint-and-check
            - build
