version: 2.1

executors:
  cypress-default:
    docker:
      - image: cypress/base:12
        environment:
          ## this enables colors in the output
          TERM: xterm

jobs:
  lint-and-check:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn type-check
      - run: yarn lint
      - run: yarn test.prod
  build:
    working_directory: /mnt/ramdisk/project
    docker:
      - image: circleci/node:12
    resource_class: large
    environment:
      CYPRESS_CACHE_FOLDER: /mnt/ramdisk/.cache/Cypress
      YARN_CACHE_FOLDER: /mnt/ramdisk/.cache/yarn
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build
      - persist_to_workspace:
          root: /mnt/ramdisk/
          paths:
            - project
            - .cache/Cypress
  build-docs:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build.docs
  run-e2e-tests:
    executor: cypress-default
    resource_class: large
    working_directory: /mnt/ramdisk/project
    environment:
      CYPRESS_CACHE_FOLDER: /mnt/ramdisk/.cache/Cypress
      YARN_CACHE_FOLDER: /mnt/ramdisk/.cache/yarn
    parameters:
      example-name:
        type: string
    steps:
      - attach_workspace:
          at: /mnt/ramdisk/
      - run:
          name: Example - Install dependencies
          working_directory: /mnt/ramdisk/project/examples/<<parameters.example-name>>
          command: yarn install --frozen-lockfile
      - run:
          name: Example - Build
          working_directory: /mnt/ramdisk/project/examples/<<parameters.example-name>>
          command: yarn build
      - run:
          name: Run E2E checks
          command: yarn e2e:run:<<parameters.example-name>>
      - store_test_results:
          name: Upload test results
          path: cypress/results
      - store_artifacts:
          name: Upload Cypress Videos
          path: cypress/results/videos
          destination: videos
      - store_artifacts:
          name: Upload Cypress Screenshots
          path: cypress/results/screenshots
          destination: screenshots
  lockfile-maintenance:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: git checkout main
      - run: yarn test.prod
workflows:
  version: 2
  test-and-release:
    jobs:
      - lint-and-check
      - build
      - build-docs
      - run-e2e-tests:
          name: e2e-react-cra
          example-name: react-cra
          requires:
            - build
      - run-e2e-tests:
          name: e2e-react-gatsby
          example-name: react-gatsby
          requires:
            - build
      - run-e2e-tests:
          name: e2e-angular
          example-name: angular
          requires:
            - build
  perform-lockfile-maintenance:
    triggers:
      - schedule:
          cron: "5,10,15,20 5 * * 1"
          filters:
            branches:
              only:
                - main
    jobs:
      - lockfile-maintenance