version: 2.1

executors:
  cypress-default:
    docker:
      - image: cypress/base:12
        environment:
          ## this enables colors in the output
          TERM: xterm

jobs:
  lint-and-check:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn type-check
      - run: yarn lint
      - run: yarn test.prod
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - packages/elements/dist/**
            - packages/elements-web-components/dist/**
            - packages/elements-utils/dist/**
  build-docs:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn --frozen-lockfile
      - run: yarn build.docs
  run-e2e-tests:
    executor: cypress-default
    parameters:
      example-name:
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Copy build artifacts
          command: cp /tmp/workspace/* -r ~/project
      - run:
          name: Example - Install dependencies
          working_directory: ~/project/examples/<<parameters.example-name>>
          command: yarn install --frozen-lockfile
      - run:
          name: Example - Build
          working_directory: ~/project/examples/<<parameters.example-name>>
          command: yarn build
      - run:
          name: Run E2E checks
          command: yarn e2e:run:<<parameters.example-name>>
      - store_test_results:
          name: Upload test results
          path: cypress/results
      - store_artifacts:
          name: Upload Cypress Videos
          path: cypress/results/videos
          destination: videos
      - store_artifacts:
          name: Upload Cypress Screenshots
          path: cypress/results/screenshots
          destination: screenshots
workflows:
  test-and-release:
    jobs:
      - lint-and-check
      - build
      - build-docs
      - run-e2e-tests:
          name: e2e-react-cra
          example-name: react-cra
          requires:
            - build
      - run-e2e-tests:
          name: e2e-react-gatsby
          example-name: react-gatsby
          requires:
            - build
