.PreviewTabs {
  > .bp3-tab-list {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @extend .border-editor;
    @extend .px-5;

    > .bp3-tab {
      @extend .px-2;
      @extend .py-2;
      &:focus {
        outline: none;
      }
    }
  }

  > .bp3-tab-panel {
    margin-top: 0;
  }
}
