.HttpOperation .JsonSchemaViewer .sl-markdown-viewer p {
  font-size: 12px;
  line-height: 1.5em;
}

.HttpOperation__Parameters {
  .sl-markdown-viewer p {
    font-size: 12px;
    line-height: 1.5em;
  }
}

.Model { .JsonSchemaViewer {
  .sl-markdown-viewer p {
    font-size: 12px;
    line-height: 1.5em;
  }
}
}

.HttpOperation__gutter {
  --fs-code: 12px;
}
