.HttpOperation .JsonSchemaViewer .MarkdownViewer p {
  font-size: 12px;
  line-height: 1.5em;
}
.HttpSecuritySchemes,
.HttpOperation__Parameters {
  .MarkdownViewer p {
    font-size: 12px;
    line-height: 1.5em;
  }
}

.HttpOperation__gutter {
  --fs-code: 12px;
}
