.ParameterGrid {
  display: grid;
  grid-template-columns: fit-content(120px) 20px auto;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 16px;
}

.SendButtonHolder{
  margin-top: 16px;
  padding-top: 0;
}

.TryItPanel {
  /* The content wrapper */
  > :nth-child(2) {
    /* This, along with the padding:0 margin: 16s above causes margin collapse to guarantee correct spacing around the panels & send button */
    overflow: auto;
  }
}

.OperationParametersContent {
  max-height: 32*4.5+18px; // 4.5 lines plus padding
}

.TextRequestBody{
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 0;
  margin-bottom: 16px;
}
