@import '~@stoplight/ui-kit/styles/ui-kit';
@import '~@stoplight/markdown-viewer/styles/markdown-viewer';
@import '~@stoplight/mosaic/styles';
@import '~@stoplight/mosaic/themes/default';

@import './main';

html {
  font-size: 13px;
}

a:hover {
  text-decoration: none;
}

.svg-inline--fa {
  display: inline-block;
}
