@import '~@stoplight/tree-list/styles/_tree-list.scss';
@import '~@stoplight/json-schema-viewer/styles/_json-schema-viewer.scss';

// TODO (CL): Move this to ui-kit
.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
