@import '~@stoplight/ui-kit/styles/blueprint/variables';

$PageContent: 1000px;
$PageToc: 200px;

.Page {
  &__docs {
    max-width: calc(#{$PageContent} + #{$PageToc});
  }

  &__header {
    max-width: $PageContent;

    .HttpOperation__Path {
      height: 30px;
    }
  }

  &__toc {
    width: $PageToc;
  }

  &__content {
    max-width: $PageContent;
  }

  .#{$ns}-dark & {
    &__tab.selected-tab {
      background-color: transparent;
      border-bottom-color: get-color(gray, 7);
    }

    &__tab-panel {
      background-color: transparent;
    }
  }
}

.HttpOperation__Schema {
  .#{$ns}-simple-tab-panel {
    .#{$ns}-code-editor {
      // Don't add margin when inside a tab panel
      margin: 0;
    }
  }
}
