@import '~@stoplight/ui-kit/styles/blueprint/variables';

.Page {
  &__header,
  &__content {
    max-width: 1000px;
  }

  &__header {
    .HttpOperation__Path {
      height: 30px;
    }
  }

  .#{$ns}-dark & {
    &__tab.selected-tab {
      background-color: transparent;
      border-bottom-color: get-color(gray, 7);
    }

    &__tab-panel {
      background-color: transparent;
    }
  }
}

.HttpOperation__Schema {
  .#{$ns}-simple-tab-panel {
    .#{$ns}-code-editor {
      // Don't add margin when inside a tab panel
      margin: 0;
    }
  }
}
