@import '~@stoplight/ui-kit/styles/blueprint/variables';

.Search {
  &__drawer {
    width: 500px !important; // override blueprint

    @media (max-width: 767px) {
      width: 100% !important; // override blueprint
    }
  }
}

.Search__backdrop.#{$ns}-overlay-backdrop {
  background-color: rgba(14, 29, 51, 0.5);
}

.Search__input {
  .#{$ns}-input,
  input {
    box-shadow: none;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.Search_highlight em {
  background-color: yellow;
}

.#{$ns}-dark .Search_highlight em {
  background-color: rgba(255, 255, 255, 0.2);
}
