.TableOfContentsSkeleton,
.TableOfContents {
  width: calc((100% - 1300px) / 2 + 300px);
  min-width: 300px;
}

.TableOfContentsSkeleton__inner,
.TableOfContents__inner {
  width: 300px;
}

.TableOfContentsItem {
  color: #5c6975;

  &__name {
    font-weight: 500;
    word-break: break-all;
    line-height: 1.5;
  }

  &__icon {
    color: #9daab6;
  }

  &__inner {
    padding: 7px 20px 7px 12px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  &--active {
    &--child {
      border-left: none;
    }
  }

  &--divider {
    &:not(:first-child) {
      margin-top: 24px;
    }

    .TableOfContentsItem__name {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
