:root,
  [data-theme="light"],
  [data-theme="light"] .sl-inverted .sl-inverted,
  [data-theme="light"] .sl-inverted .sl-inverted .sl-inverted .sl-inverted {
    color: var(--color-text);

        --text-h: 0;
    --text-s: 0%;
    --text-l: 15%;
    --shadow-sm: 0px 0px 1px rgba(67, 90, 111, 0.3);
    --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(67, 90, 111, 0.3);
    --shadow-lg: 0 5px 14px -3px rgba(67, 90, 111, .3), 0 0 0 0.5px rgba(0,0,0,.2);
    --shadow-xl: 0px 0px 1px rgba(67, 90, 111, 0.3), 0px 8px 10px -4px rgba(67, 90, 111, 0.45);
    --shadow-2xl: 0px 0px 1px rgba(67, 90, 111, 0.3), 0px 16px 24px -8px rgba(67, 90, 111, 0.45);
    --color-text-heading: hsla(var(--text-h), var(--text-s), max(3, calc(var(--text-l) - 10)), 1);
    --color-text: hsla(var(--text-h), var(--text-s), var(--text-l), 1);
    --color-text-paragraph: hsla(var(--text-h), var(--text-s), var(--text-l), 0.9);
    --color-text-muted: hsla(var(--text-h), var(--text-s), var(--text-l), 0.7);
    --color-text-light: hsla(var(--text-h), var(--text-s), var(--text-l), 0.55);
    --canvas-h: 218;
    --canvas-s: 40%;
    --canvas-l: 100%;
    --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
    --color-canvas-pure: hsla(218, 40%, 100%, 1);
    --color-canvas-tint: hsla(218, 40%, 99%, 0.15);
    --color-canvas-50: hsla(218, 40%, 99%, 1);
    --color-canvas-100: hsla(218, 30%, 96%, 1);
    --color-canvas-200: hsla(218, 36%, 92%, 1);
    --color-canvas-300: hsla(218, 38%, 89%, 1);
    --color-canvas-400: hsla(218, 38%, 86%, 1);
    --color-canvas-500: hsla(218, 40%, 82%, 1);
    --color-canvas-dialog: hsla(218, 40%, 100%, 1);
    --color-border-dark: hsla(var(--canvas-h), 30%, 72%, 0.5);
    --color-border: hsla(var(--canvas-h), 32%, 78%, 0.5);
    --color-border-light: hsla(var(--canvas-h), 24%, 84%, 0.5);
    --color-border-input: hsla(var(--canvas-h), 24%, 72%, 0.8);
    --color-border-button: hsla(var(--canvas-h), 24%, 20%, 0.8);
    --primary-h: 211;
    --primary-s: 100%;
    --primary-l: 61%;
    --color-text-primary: hsla(211, 100%, 40%, 1);
    --color-primary-dark: hsla(211, 80%, 52%, 1);
    --color-primary-darker: hsla(211, 80%, 40%, 1);
    --color-primary: hsla(211, 100%, 61%, 1);
    --color-primary-light: hsla(211, 100%, 73%, 1);
    --color-primary-tint: hsla(211, 100%, 65%, 0.25);
    --color-on-primary: hsla(211, 100%, 100%, 1);
    --success-h: 160;
    --success-s: 84%;
    --success-l: 34%;
    --color-text-success: hsla(160, 84%, 40%, 1);
    --color-success-dark: hsla(160, 67%, 29%, 1);
    --color-success-darker: hsla(160, 67%, 22%, 1);
    --color-success: hsla(160, 84%, 34%, 1);
    --color-success-light: hsla(160, 84%, 41%, 1);
    --color-success-tint: hsla(160, 84%, 65%, 0.25);
    --color-on-success: hsla(160, 84%, 100%, 1);
    --warning-h: 20;
    --warning-s: 90%;
    --warning-l: 56%;
    --color-text-warning: hsla(20, 90%, 40%, 1);
    --color-warning-dark: hsla(20, 72%, 48%, 1);
    --color-warning-darker: hsla(20, 72%, 36%, 1);
    --color-warning: hsla(20, 90%, 56%, 1);
    --color-warning-light: hsla(20, 90%, 67%, 1);
    --color-warning-tint: hsla(20, 90%, 65%, 0.25);
    --color-on-warning: hsla(20, 90%, 100%, 1);
    --danger-h: 0;
    --danger-s: 84%;
    --danger-l: 63%;
    --color-text-danger: hsla(0, 84%, 40%, 1);
    --color-danger-dark: hsla(0, 67%, 54%, 1);
    --color-danger-darker: hsla(0, 67%, 41%, 1);
    --color-danger: hsla(0, 84%, 63%, 1);
    --color-danger-light: hsla(0, 84%, 76%, 1);
    --color-danger-tint: hsla(0, 84%, 65%, 0.25);
    --color-on-danger: hsla(0, 84%, 100%, 1);

}

  :root .sl-inverted,
  [data-theme="light"] .sl-inverted,
  [data-theme="light"] .sl-inverted .sl-inverted .sl-inverted {
    color: var(--color-text);

        --text-h: 0;
    --text-s: 0%;
    --text-l: 98%;
    --shadow-sm: 0px 0px 1px rgba(11, 13, 19, 0.5);
    --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(11, 13, 19, 0.4);
    --shadow-lg: 0 2px 14px rgba(0,0,0,.55), 0 0 0 0.5px rgba(255,255,255,.3);
    --shadow-xl: 0px 0px 1px rgba(11, 13, 19, 0.4), 0px 8px 10px -4px rgba(11, 13, 19, 0.55);
    --shadow-2xl: 0px 0px 1px rgba(11, 13, 19, 0.4), 0px 16px 24px -8px rgba(11, 13, 19, 0.55);
    --color-text-heading: hsla(var(--text-h), var(--text-s), max(3, calc(var(--text-l) - 10)), 1);
    --color-text: hsla(var(--text-h), var(--text-s), var(--text-l), 1);
    --color-text-paragraph: hsla(var(--text-h), var(--text-s), var(--text-l), 0.9);
    --color-text-muted: hsla(var(--text-h), var(--text-s), var(--text-l), 0.7);
    --color-text-light: hsla(var(--text-h), var(--text-s), var(--text-l), 0.55);
    --canvas-h: 218;
    --canvas-s: 28%;
    --canvas-l: 15%;
    --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
    --color-canvas-pure: hsla(218, 28%, 12%, 1);
    --color-canvas-tint: hsla(218, 28%, 37%, 0.15);
    --color-canvas-50: hsla(218, 28%, 37%, 1);
    --color-canvas-100: hsla(218, 21%, 29%, 1);
    --color-canvas-200: hsla(218, 25%, 23%, 1);
    --color-canvas-300: hsla(218, 26%, 19%, 1);
    --color-canvas-400: hsla(218, 27%, 18%, 1);
    --color-canvas-500: hsla(218, 28%, 17%, 1);
    --color-canvas-dialog: hsla(218, 21%, 29%, 1);
    --color-border-dark: hsla(var(--canvas-h), 21%, 28%, 0.5);
    --color-border: hsla(var(--canvas-h), 22%, 33%, 0.5);
    --color-border-light: hsla(var(--canvas-h), 17%, 39%, 0.5);
    --color-border-input: hsla(var(--canvas-h), 17%, 35%, 0.8);
    --color-border-button: hsla(var(--canvas-h), 17%, 85%, 0.8);
    --primary-h: 211;
    --primary-s: 100%;
    --primary-l: 54%;
    --color-text-primary: hsla(211, 90%, 60%, 1);
    --color-primary-dark: hsla(211, 72%, 46%, 1);
    --color-primary-darker: hsla(211, 72%, 35%, 1);
    --color-primary: hsla(211, 90%, 54%, 1);
    --color-primary-light: hsla(211, 90%, 65%, 1);
    --color-primary-tint: hsla(211, 90%, 65%, 0.25);
    --color-on-primary: hsla(211, 100%, 100%, 1);
    --success-h: 160;
    --success-s: 84%;
    --success-l: 75%;
    --color-text-success: hsla(160, 76%, 60%, 1);
    --color-success-dark: hsla(160, 60%, 64%, 1);
    --color-success-darker: hsla(160, 60%, 49%, 1);
    --color-success: hsla(160, 76%, 75%, 1);
    --color-success-light: hsla(160, 76%, 90%, 1);
    --color-success-tint: hsla(160, 76%, 65%, 0.25);
    --color-on-success: hsla(160, 84%, 100%, 1);
    --warning-h: 20;
    --warning-s: 90%;
    --warning-l: 58%;
    --color-text-warning: hsla(20, 81%, 60%, 1);
    --color-warning-dark: hsla(20, 65%, 49%, 1);
    --color-warning-darker: hsla(20, 65%, 38%, 1);
    --color-warning: hsla(20, 81%, 58%, 1);
    --color-warning-light: hsla(20, 81%, 70%, 1);
    --color-warning-tint: hsla(20, 81%, 65%, 0.25);
    --color-on-warning: hsla(20, 90%, 100%, 1);
    --danger-h: 0;
    --danger-s: 84%;
    --danger-l: 53%;
    --color-text-danger: hsla(0, 76%, 60%, 1);
    --color-danger-dark: hsla(0, 60%, 45%, 1);
    --color-danger-darker: hsla(0, 60%, 34%, 1);
    --color-danger: hsla(0, 76%, 53%, 1);
    --color-danger-light: hsla(0, 76%, 64%, 1);
    --color-danger-tint: hsla(0, 76%, 65%, 0.25);
    --color-on-danger: hsla(0, 84%, 100%, 1);

}
  [data-theme="dark"],
  [data-theme="dark"] .sl-inverted .sl-inverted,
  [data-theme="dark"] .sl-inverted .sl-inverted .sl-inverted .sl-inverted {
    color: var(--color-text);

        --text-h: 0;
    --text-s: 0%;
    --text-l: 91%;
    --shadow-sm: 0px 0px 1px rgba(11, 13, 19, 0.5);
    --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(11, 13, 19, 0.4);
    --shadow-lg: 0 2px 14px rgba(0,0,0,.55), 0 0 0 0.5px rgba(255,255,255,.3);
    --shadow-xl: 0px 0px 1px rgba(11, 13, 19, 0.4), 0px 8px 10px -4px rgba(11, 13, 19, 0.55);
    --shadow-2xl: 0px 0px 1px rgba(11, 13, 19, 0.4), 0px 16px 24px -8px rgba(11, 13, 19, 0.55);
    --color-text-heading: hsla(var(--text-h), var(--text-s), max(3, calc(var(--text-l) - 10)), 1);
    --color-text: hsla(var(--text-h), var(--text-s), var(--text-l), 1);
    --color-text-paragraph: hsla(var(--text-h), var(--text-s), var(--text-l), 0.9);
    --color-text-muted: hsla(var(--text-h), var(--text-s), var(--text-l), 0.7);
    --color-text-light: hsla(var(--text-h), var(--text-s), var(--text-l), 0.55);
    --canvas-h: 218;
    --canvas-s: 34%;
    --canvas-l: 10%;
    --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
    --color-canvas-pure: hsla(218, 34%, 7%, 1);
    --color-canvas-tint: hsla(218, 34%, 32%, 0.15);
    --color-canvas-50: hsla(218, 34%, 32%, 1);
    --color-canvas-100: hsla(218, 26%, 24%, 1);
    --color-canvas-200: hsla(218, 31%, 18%, 1);
    --color-canvas-300: hsla(218, 32%, 14%, 1);
    --color-canvas-400: hsla(218, 33%, 13%, 1);
    --color-canvas-500: hsla(218, 34%, 12%, 1);
    --color-canvas-dialog: hsla(218, 26%, 24%, 1);
    --color-border-dark: hsla(var(--canvas-h), 26%, 23%, 0.5);
    --color-border: hsla(var(--canvas-h), 27%, 28%, 0.5);
    --color-border-light: hsla(var(--canvas-h), 20%, 34%, 0.5);
    --color-border-input: hsla(var(--canvas-h), 20%, 30%, 0.8);
    --color-border-button: hsla(var(--canvas-h), 20%, 85%, 0.8);
    --primary-h: 211;
    --primary-s: 100%;
    --primary-l: 61%;
    --color-text-primary: hsla(211, 100%, 60%, 1);
    --color-primary-dark: hsla(211, 80%, 52%, 1);
    --color-primary-darker: hsla(211, 80%, 40%, 1);
    --color-primary: hsla(211, 100%, 61%, 1);
    --color-primary-light: hsla(211, 100%, 73%, 1);
    --color-primary-tint: hsla(211, 100%, 65%, 0.25);
    --color-on-primary: hsla(211, 100%, 100%, 1);
    --success-h: 160;
    --success-s: 84%;
    --success-l: 34%;
    --color-text-success: hsla(160, 84%, 60%, 1);
    --color-success-dark: hsla(160, 67%, 29%, 1);
    --color-success-darker: hsla(160, 67%, 22%, 1);
    --color-success: hsla(160, 84%, 34%, 1);
    --color-success-light: hsla(160, 84%, 41%, 1);
    --color-success-tint: hsla(160, 84%, 65%, 0.25);
    --color-on-success: hsla(160, 84%, 100%, 1);
    --warning-h: 20;
    --warning-s: 90%;
    --warning-l: 56%;
    --color-text-warning: hsla(20, 90%, 60%, 1);
    --color-warning-dark: hsla(20, 72%, 48%, 1);
    --color-warning-darker: hsla(20, 72%, 36%, 1);
    --color-warning: hsla(20, 90%, 56%, 1);
    --color-warning-light: hsla(20, 90%, 67%, 1);
    --color-warning-tint: hsla(20, 90%, 65%, 0.25);
    --color-on-warning: hsla(20, 90%, 100%, 1);
    --danger-h: 0;
    --danger-s: 84%;
    --danger-l: 63%;
    --color-text-danger: hsla(0, 84%, 60%, 1);
    --color-danger-dark: hsla(0, 67%, 54%, 1);
    --color-danger-darker: hsla(0, 67%, 41%, 1);
    --color-danger: hsla(0, 84%, 63%, 1);
    --color-danger-light: hsla(0, 84%, 76%, 1);
    --color-danger-tint: hsla(0, 84%, 65%, 0.25);
    --color-on-danger: hsla(0, 84%, 100%, 1);

}

  
  [data-theme="dark"] .sl-inverted,
  [data-theme="dark"] .sl-inverted .sl-inverted .sl-inverted {
    color: var(--color-text);

        --text-h: 0;
    --text-s: 0%;
    --text-l: 97%;
    --shadow-sm: 0px 0px 1px rgba(11, 13, 19, 0.5);
    --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(11, 13, 19, 0.4);
    --shadow-lg: 0 2px 14px rgba(0,0,0,.55), 0 0 0 0.5px rgba(255,255,255,.3);
    --shadow-xl: 0px 0px 1px rgba(11, 13, 19, 0.4), 0px 8px 10px -4px rgba(11, 13, 19, 0.55);
    --shadow-2xl: 0px 0px 1px rgba(11, 13, 19, 0.4), 0px 16px 24px -8px rgba(11, 13, 19, 0.55);
    --color-text-heading: hsla(var(--text-h), var(--text-s), max(3, calc(var(--text-l) - 10)), 1);
    --color-text: hsla(var(--text-h), var(--text-s), var(--text-l), 1);
    --color-text-paragraph: hsla(var(--text-h), var(--text-s), var(--text-l), 0.9);
    --color-text-muted: hsla(var(--text-h), var(--text-s), var(--text-l), 0.7);
    --color-text-light: hsla(var(--text-h), var(--text-s), var(--text-l), 0.55);
    --canvas-h: 218;
    --canvas-s: 34%;
    --canvas-l: 15%;
    --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
    --color-canvas-pure: hsla(218, 34%, 12%, 1);
    --color-canvas-tint: hsla(218, 34%, 24%, 0.15);
    --color-canvas-50: hsla(218, 34%, 24%, 1);
    --color-canvas-100: hsla(218, 26%, 19%, 1);
    --color-canvas-200: hsla(218, 31%, 15%, 1);
    --color-canvas-300: hsla(218, 32%, 12%, 1);
    --color-canvas-400: hsla(218, 33%, 12%, 1);
    --color-canvas-500: hsla(218, 34%, 11%, 1);
    --color-canvas-dialog: hsla(218, 26%, 19%, 1);
    --color-border-dark: hsla(var(--canvas-h), 26%, 28%, 0.5);
    --color-border: hsla(var(--canvas-h), 27%, 33%, 0.5);
    --color-border-light: hsla(var(--canvas-h), 20%, 39%, 0.5);
    --color-border-input: hsla(var(--canvas-h), 20%, 35%, 0.8);
    --color-border-button: hsla(var(--canvas-h), 20%, 85%, 0.8);
    --primary-h: 211;
    --primary-s: 100%;
    --primary-l: 54%;
    --color-text-primary: hsla(211, 80%, 60%, 1);
    --color-primary-dark: hsla(211, 64%, 30%, 1);
    --color-primary-darker: hsla(211, 64%, 23%, 1);
    --color-primary: hsla(211, 80%, 35%, 1);
    --color-primary-light: hsla(211, 80%, 42%, 1);
    --color-primary-tint: hsla(211, 80%, 42%, 0.25);
    --color-on-primary: hsla(211, 100%, 100%, 1);
    --success-h: 160;
    --success-s: 84%;
    --success-l: 75%;
    --color-text-success: hsla(160, 67%, 60%, 1);
    --color-success-dark: hsla(160, 54%, 41%, 1);
    --color-success-darker: hsla(160, 54%, 32%, 1);
    --color-success: hsla(160, 67%, 49%, 1);
    --color-success-light: hsla(160, 67%, 59%, 1);
    --color-success-tint: hsla(160, 67%, 42%, 0.25);
    --color-on-success: hsla(160, 84%, 100%, 1);
    --warning-h: 20;
    --warning-s: 90%;
    --warning-l: 58%;
    --color-text-warning: hsla(20, 72%, 60%, 1);
    --color-warning-dark: hsla(20, 58%, 32%, 1);
    --color-warning-darker: hsla(20, 58%, 25%, 1);
    --color-warning: hsla(20, 72%, 38%, 1);
    --color-warning-light: hsla(20, 72%, 45%, 1);
    --color-warning-tint: hsla(20, 72%, 42%, 0.25);
    --color-on-warning: hsla(20, 90%, 100%, 1);
    --danger-h: 0;
    --danger-s: 84%;
    --danger-l: 53%;
    --color-text-danger: hsla(0, 67%, 60%, 1);
    --color-danger-dark: hsla(0, 54%, 29%, 1);
    --color-danger-darker: hsla(0, 54%, 22%, 1);
    --color-danger: hsla(0, 67%, 34%, 1);
    --color-danger-light: hsla(0, 67%, 41%, 1);
    --color-danger-tint: hsla(0, 67%, 42%, 0.25);
    --color-on-danger: hsla(0, 84%, 100%, 1);

}