.#{$ns}-simple-tab {
  display: inline-block;
  bottom: -1px;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 7px 15px;
  z-index: 2;
  font-weight: get-font-weight(medium);
  border-width: 1px;
  margin-left: -1px;

  color: get-color(gray, 5);
  background-color: get-color(gray, 1);

  &.selected-tab {
    cursor: default;
    color: get-color(gray, 6);
    border-bottom-color: get-color(white);
    background-color: get-color(white);
  }

  &:first-of-type {
    border-top-left-radius: get-border-radius(default);
    margin-left: 0;
  }

  &:last-of-type {
    border-top-right-radius: get-border-radius(default);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: get-color(black);
  }

  &.disabled-tab {
    cursor: not-allowed;
    opacity: 0.65;
    &:hover {
      color: get-color(gray, 5);
    }
  }
}

.#{$ns}-simple-tab-list {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.#{$ns}-simple-tab-panel {
  border-width: 1px;
  display: none;
  border-radius: get-border-radius(default);

  &#react-tabs-1 {
    border-top-left-radius: 0px;
  }
}
