@import '~@stoplight/ui-kit/styles/common/theme';
@import '~@stoplight/ui-kit/styles/components/Code/_theme-dark.scss';

.MV_block {
  margin: 25px -7px;
  border-radius: 5px;
}

.MV_padded {
  padding: 20px;
}

.MV_bordered {
  border-width: 1px;
  border-radius: 5px;
}

.MarkdownViewer {
  @include darkCodeTheme;

  h1 {
    font-size: 34px;
    line-height: 40px;
    padding-bottom: 15px;
    padding: 0 3px 0 3px;
    margin: 40px -3px 0 -3px;
  }

  h1:first-child {
    margin-top: 0;
  }

  h1 + :not(.MV_block),
  h1 + :not(.MV_bordered)
  h1 + :not(.#{$ns}-code-editor) {
    border-top-width: 1px;
    margin-top: 15px;
    padding-top: 25px;
  }

  h2 {
    font-size: 28px;
    margin-top: 35px;
    line-height: 1.2;
  }

  h3 {
    margin-top: 30px;
    line-height: 1.2;
    font-size: 20px;
  }

  h3 + p {
    margin-top: 20px;
  }

  h4 {
    margin-top: 30px;
    line-height: 1.2;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.75;
  }

  h4 + p {
    margin-top: 20px;
  }

  p {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0, 0, 0 25px;

    p {
      margin-top: 10px;
    }

    p:first-child,
    ol,
    ul {
      margin-top: 0px;
    }
  }

  a {
    padding: 0px 3px;
    background: get-color(blue, 1);
    border-bottom-width: 1px;

    &:hover {
      color: inherit;
      text-decoration: none;
      background: get-color(blue, 2);
      border-color: black;
    }
  }

  blockquote {
    border-left-width: 8px;
  }

  .#{$ns}-blockquote {
    @extend .MV_block;
    @extend .MV_padded;

    border-left-width: 8px;

    &.#{$ns}-intent-info {
      border-color: get-color(blue, 5);
      background: get-color(blue, 1);
    }

    &.#{$ns}-intent-primary {
      border-color: get-color(blue, 5);
      background: get-color(blue, 1);
    }

    &.#{$ns}-intent-danger {
      border-color: get-color(red, 5);
      background: get-color(red, 1);
    }

    &.#{$ns}-intent-success {
      border-color: get-color(green, 5);
      background: get-color(green, 1);
    }

    &.#{$ns}-intent-warning {
      border-color: get-color(orange, 5);
      background: get-color(orange, 1);
    }

    p {
      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .#{$ns}-heading {
    border-color: get-color(gray, 3);
  }

  .#{$ns}-code-editor {
    @extend .MV_block;

    padding: 15px 20px 15px 15px;
    white-space: pre-wrap;

    &.isInline {
      background: get-color(orange, 2);
      border-width: 0px;
      color: get-color(gray, 8);
      padding: 3px 4px;
      margin: 0 2px;
      border-radius: 2px;
      line-height: 1;
      display: inline-block;
    }
  }

  .#{$ns}-code-block {
    padding: 0px;
    border-width: 0px;
    box-shadow: none;
  }

  .#{$ns}-html-table {
    tr:first-of-type {
      font-weight: bold;
    }
  }
}
