{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@stoplight/elements": "../packages/elements/src",
          "@stoplight/elements-dev-portal": "../packages/elements-dev-portal/src"
        }
      }
    ],
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
