@mixin darkCodeTheme {
  --code-bg: #2D3748;
  --code-fg: #edf2f7;
  --code-selection-bg: yellow;
  --code-primary: #ff8383;
  --code-secondary: #ffe484;
  --code-keyword: #fff;
  --code-value: #b5f4a5;
  --code-punc: #93ddfd;
  --code-function: #93ddfd;
  --code-selector: #93ddfd;
  --code-comment: #a0aec0;
  --code-rule: #d9a9ff;
  --code-tag: #ff8383;
  --code-important: #d9a9ff;
  --code-boolean: #ff8383;
}
