@mixin lightCodeTheme {
  --code-bg: transparent;
  --code-fg: #393A34;

  --code-selection-bg: #C1DEF1;

  --code-symbol: rgb(170, 9, 130);
  --code-number: #50a14f;

  --code-value: rgb(72, 118, 214);
  --code-function: rgb(215, 58, 73);
  --code-constant: rgb(44, 44, 44);

  --code-string: rgb(215, 58, 73);

  --code-operator: rgb(0, 0, 159);
  --code-property: rgb(0, 80, 171);
  --code-entity: rgb(17, 17, 17);

  --code-keyword: rgb(0, 0, 159);
  --code-selector: rgb(215, 58, 73);
  --code-doctype: rgb(215, 58, 73);
  --code-important: rgb(215, 58, 73);

  --code-punctuation: inherit;

  --code-comment: rgb(152, 159, 177);

  --code-tag: rgb(0, 0, 159);
  --code-boolean: rgb(34, 0, 255);

  --code-variable: rgb(201, 103, 101);
  --code-namespace: rgb(0, 0, 159);
  --code-url: inherit;
}
