@mixin darkCodeTheme {
  --code-bg: rgb(41, 55, 66); // bg-gray-7
  --code-fg: #edf2f7;

  --code-selection-bg: rgba(255, 255, 255, 0.2);

  --code-symbol: rgb(247, 140, 108);
  --code-number: rgb(247, 140, 108);

  --code-value: rgb(80, 250, 123);
  --code-function: rgb(80, 250, 123);
  --code-constant: rgb(80, 250, 123);

  --code-string: rgb(238, 252, 122);

  --code-operator: rgb(137, 221, 255);
  --code-property: rgb(137, 221, 255);
  --code-entity: rgb(137, 221, 255);

  --code-keyword: rgb(199, 146, 234);
  --code-selector: rgb(199, 146, 234);
  --code-doctype: rgb(199, 146, 234);
  --code-important: rgb(199, 146, 234);

  --code-punctuation: inherit;

  --code-comment: rgb(133, 138, 168);

  --code-tag: rgb(255, 88, 116);
  --code-boolean: rgb(198, 143, 255);

  --code-variable: rgb(191, 199, 213);
  --code-namespace: rgb(178, 204, 214);
  --code-url: rgb(221, 221, 221);
}
