// NOT included with _variables.scss, because that is imported many times. OK because that file is scss variables, not
// ok for this file, since that would result in a bunch of duplicate CSS in final bundle.

:root {
  --color-body: #{get-color(black)};
  --color-contrast-higher: #{get-color(gray, 9)};
  --color-contrast-high: #{get-color(gray, 8)};
  --color-contrast-low: #{get-color(gray, 6)};
  --color-link: #{get-color(blue, 6)};

  --gutter-bg: #{get-color(black)};
  --gutter-fg: #{get-color(gray, 1)};

  --sidebar-bg: #{get-color(gray, 1)};
  --sidebar-fg: #{get-color(gray, 9)};
  --sidebar-border: #{get-color(gray, 3)};

  --editor-bg: #{get-color(white)};
  --editor-fg: #{get-color(black)};
  --editor-border: #{get-color(gray, 3)};
}

[data-theme='dark'],
.bp3-dark {
  --color-body: #{get-color(white)};
  --color-contrast-higher: #{get-color(gray, 1)};
  --color-contrast-high: #{get-color(gray, 3)};
  --color-contrast-low: #{get-color(gray, 4)};
  --color-link: #{get-color(blue, 2)};

  --gutter-bg: #{get-color(black)};
  --gutter-fg: #{get-color(gray, 1)};

  --sidebar-bg: #{get-color(gray, 9)};
  --sidebar-fg: #{get-color(gray, 1)};
  --sidebar-border: #{get-color(black)};

  --editor-bg: #{get-color(gray, 8)};
  --editor-fg: #{get-color(white)};
  --editor-border: #{get-color(gray, 9)};
}
