@import './utils';

/*
 * CONFIG TO BE PASSED IN BY THE CONSUMER
 * $sl-config should never be called outside of this file, unless being set in another application
 */
$sl-config: () !default;

/*
 * DEFAULTS DEFINED BY STOPLIGHT
 * $sl-defaults should never be called outside of this file
 */

$sl-defaults: (
  namespace: 'bp3',
  colors: (
    transparent: transparent,
    black: #10161a,
    white: #fff,
    disabled: rgba(#394b59, 0.5),
    lighten: (
      1: rgba(255, 255, 255, 0.02),
      2: rgba(255, 255, 255, 0.05),
      3: rgba(255, 255, 255, 0.1),
      4: rgba(255, 255, 255, 0.15),
      5: rgba(255, 255, 255, 0.25),
      6: rgba(255, 255, 255, 0.35),
      7: rgba(255, 255, 255, 0.5),
      8: rgba(255, 255, 255, 0.6),
      9: rgba(255, 255, 255, 0.8),
    ),
    darken: (
      1: rgba(0, 0, 0, 0.03),
      2: rgba(0, 0, 0, 0.06),
      3: rgba(0, 0, 0, 0.1),
      4: rgba(0, 0, 0, 0.15),
      5: rgba(0, 0, 0, 0.25),
      6: rgba(0, 0, 0, 0.35),
      7: rgba(0, 0, 0, 0.5),
      8: rgba(0, 0, 0, 0.6),
      9: rgba(0, 0, 0, 0.8),
    ),
    gray: (
      1: #f5f8fa,
      2: #e1e8ed,
      3: #ced9e0,
      4: #bfccd6,
      5: #a7b6c2,
      6: #738694,
      7: #394b59,
      8: #293742,
      9: #182026,
    ),
    red: (
      1: #fff5f5,
      2: #fed7d7,
      3: #feb2b2,
      4: #fc8181,
      5: #f56565,
      6: #e53e3e,
      7: #c53030,
      8: #9b2c2c,
      9: #742a2a,
    ),
    orange: (
      1: #fffaf0,
      2: #feebc8,
      3: #fbd38d,
      4: #f6ad55,
      5: #ed8936,
      6: #dd6b20,
      7: #c05621,
      8: #9c4221,
      9: #7b341e,
    ),
    green: (
      1: #f0fff4,
      2: #c6f6d5,
      3: #9ae6b4,
      4: #68d391,
      5: #48bb78,
      6: #38a169,
      7: #2f855a,
      8: #276749,
      9: #22543d,
    ),
    blue: (
      1: #ebf8ff,
      2: #bee3f8,
      3: #90cdf4,
      4: #63b3ed,
      5: #4299e1,
      6: #3182ce,
      7: #2b6cb0,
      8: #2c5282,
      9: #2a4365,
    ),
    purple: (
      1: #faf5ff,
      2: #e9d8fd,
      3: #d6bcfa,
      4: #b794f4,
      5: #9f7aea,
      6: #805ad5,
      7: #6b46c1,
      8: #553c9a,
      9: #44337a,
    ),
  ),
);

/*
 * RESOLVED VARIABLES USED IN ./theme.scss
 * deep merge of defaults and consumer config
 * $sl-variables should never be called outside of ./theme.scss
 */
$sl-variables: map-extend($sl-defaults, $sl-config, true);
